<%= form_for(lookup) do |f| %>
  <% if lookup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lookup.errors.count, "error") %> prohibited this lookup from being saved:</h2>

      <ul>
      <% lookup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %>
    <%= f.number_field :group_id %>
  </div>

  <div class="field">
    <%= f.label :entity_id %>
    <%= f.number_field :entity_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
